<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Damagecontroll>
            <version>0.1.8</version>
        </Stuntcoders_Damagecontroll>
    </modules>
    <global>
        <models>
            <stuntcoders_damagecontroll>
                <class>Stuntcoders_Damagecontroll_Model</class>
                <resourceModel>stuntcoders_damagecontroll_resource</resourceModel>
            </stuntcoders_damagecontroll>
            <stuntcoders_damagecontroll_resource>
                <class>Stuntcoders_Damagecontroll_Model_Resource</class>
                <entities>
                    <email>
                        <table>stuntcoders_damagecontroll_email</table>
                    </email>
                </entities>
            </stuntcoders_damagecontroll_resource>
        </models>
        <blocks>
            <stuntcoders_damagecontroll>
                <class>Stuntcoders_Damagecontroll_Block</class>
            </stuntcoders_damagecontroll>
        </blocks>
        <helpers>
            <stuntcoders_damagecontroll>
                <class>Stuntcoders_Damagecontroll_Helper</class>
            </stuntcoders_damagecontroll>
        </helpers>
        <resources>
            <stuntcoders_damagecontroll_setup>
                <setup>
                    <module>Stuntcoders_Damagecontroll</module>
                </setup>
            </stuntcoders_damagecontroll_setup>
        </resources>
        <template>
            <email>
                <stuntcoders_damagecontroll_review_template translate="label" module="stuntcoders_damagecontroll">
                    <label>Damage Controll Review</label>
                    <file>damagecontroll/stuntcoders_damagecontroll_review.html</file>
                    <type>html</type>
                </stuntcoders_damagecontroll_review_template>
                <stuntcoders_damagecontroll_review_notification_template translate="label" module="stuntcoders_damagecontroll">
                    <label>Damage Controll Review Notification</label>
                    <file>damagecontroll/stuntcoders_damagecontroll_review_notification.html</file>
                    <type>html</type>
                </stuntcoders_damagecontroll_review_notification_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stuntcoders_Damagecontroll before="Mage_Adminhtml">Stuntcoders_Damagecontroll_Adminhtml</Stuntcoders_Damagecontroll>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <stuntcoders_damagecontroll>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>stuntcoders_damagecontroll/observer::sendDamageControllEmail</model>
                </run>
            </stuntcoders_damagecontroll>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_damagecontroll>
                    <file>stuntcoders/damagecontroll.xml</file>
                </stuntcoders_damagecontroll>
            </updates>
        </layout>
        <routers>
            <stuntcoders_damagecontroll>
                <use>standard</use>
                <args>
                    <module>Stuntcoders_Damagecontroll</module>
                    <frontName>order_review</frontName>
                </args>
            </stuntcoders_damagecontroll>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <stuntcoders_damagecontroll>
                    <file>stuntcoders/damagecontroll.xml</file>
                </stuntcoders_damagecontroll>
            </updates>
        </layout>
    </adminhtml>
</config>
