<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Damagecontrol>
            <version>0.1.8</version>
        </Stuntcoders_Damagecontrol>
    </modules>
    <global>
        <models>
            <stuntcoders_damagecontrol>
                <class>Stuntcoders_Damagecontrol_Model</class>
                <resourceModel>stuntcoders_damagecontrol_resource</resourceModel>
            </stuntcoders_damagecontrol>
            <stuntcoders_damagecontrol_resource>
                <class>Stuntcoders_Damagecontrol_Model_Resource</class>
                <entities>
                    <email>
                        <table>stuntcoders_damagecontrol_email</table>
                    </email>
                </entities>
            </stuntcoders_damagecontrol_resource>
        </models>
        <blocks>
            <stuntcoders_damagecontrol>
                <class>Stuntcoders_Damagecontrol_Block</class>
            </stuntcoders_damagecontrol>
        </blocks>
        <helpers>
            <stuntcoders_damagecontrol>
                <class>Stuntcoders_Damagecontrol_Helper</class>
            </stuntcoders_damagecontrol>
        </helpers>
        <resources>
            <stuntcoders_damagecontrol_setup>
                <setup>
                    <module>Stuntcoders_Damagecontrol</module>
                </setup>
            </stuntcoders_damagecontrol_setup>
        </resources>
        <template>
            <email>
                <stuntcoders_damagecontrol_review_template translate="label" module="stuntcoders_damagecontrol">
                    <label>Damage Control Review</label>
                    <file>damagecontrol/stuntcoders_damagecontrol_review.html</file>
                    <type>html</type>
                </stuntcoders_damagecontrol_review_template>
                <stuntcoders_damagecontrol_review_notification_template translate="label" module="stuntcoders_damagecontrol">
                    <label>Damage Control Review Notification</label>
                    <file>damagecontrol/stuntcoders_damagecontrol_review_notification.html</file>
                    <type>html</type>
                </stuntcoders_damagecontrol_review_notification_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stuntcoders_Damagecontrol before="Mage_Adminhtml">Stuntcoders_Damagecontrol_Adminhtml</Stuntcoders_Damagecontrol>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <stuntcoders_damagecontrol>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>stuntcoders_damagecontrol/observer::sendDamageControlEmail</model>
                </run>
            </stuntcoders_damagecontrol>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_damagecontrol>
                    <file>stuntcoders/damagecontrol.xml</file>
                </stuntcoders_damagecontrol>
            </updates>
        </layout>
        <routers>
            <stuntcoders_damagecontrol>
                <use>standard</use>
                <args>
                    <module>Stuntcoders_Damagecontrol</module>
                    <frontName>order_review</frontName>
                </args>
            </stuntcoders_damagecontrol>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <stuntcoders_damagecontrol>
                    <file>stuntcoders/damagecontrol.xml</file>
                </stuntcoders_damagecontrol>
            </updates>
        </layout>
    </adminhtml>
</config>
